body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #1c1719;
}

/*turn this on to make the techniches more visible*/

/* .orbit, .planet {
  outline: 1px solid black;
} */

/*Layout*/

/*Basic layout*/

#outer, #outer div {
  position: absolute;
}

#outer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#outer input {
  display: none;
}

#outer nav {
  height: 10%;
  width: 100%;
  overflow: hidden;
}

#outer #inner {
  height: 90%;
  width: 100%;
  z-index: -10;
  overflow: hidden;
  background-color: #1c1719;
}

#outer footer {
  position: absolute;
  top: 90%;
  height: 10%;
  width: 100%;
  overflow: hidden;
}

/*navbar layout*/

#outer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

#outer nav ul li {
  float: left;
  width: 14.285714285714286%;
  height: 100%;
  position: relative;
}

#outer nav ul li label {
  -webkit-tap-highlight-color: rgba(204, 204, 204, 0.5);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-block;
}

/*footer layout*/

#outer footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
  text-align: center;
}

#outer footer ul li {
  display: inline-block;
  margin: 0 5%;
  height: 4.06vh;
  width: 4.06vh;
  position: relative;
}

#outer footer ul li label {
  -webkit-tap-highlight-color: rgba(204, 204, 204, 0.5);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  position: absolute;
}

/*Controls Styling*/

/*navbar decoration*/

#outer nav {
  background-color: #222;
}

#outer nav ul li label::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #808080;
  border-radius: 100%;
}

#outer nav ul li label[for="helios"]::after {
  height: 6.100000000000001vh;
  width: 6.100000000000001vh;
  left: calc(50% - 3.05vh);
  top: calc(50% - 3.05vh);
}

#outer nav ul li label[for="ermis"]::after {
  height: 0.92vh;
  width: 0.92vh;
  left: calc(50% - 0.46vh);
  top: calc(50% - 0.46vh);
}

#outer nav ul li label[for="aphrodite"]::after {
  height: 1.3vh;
  width: 1.3vh;
  left: calc(50% - 0.65vh);
  top: calc(50% - 0.65vh);
}

#outer nav ul li label[for="gaia"]::after {
  height: 1.72vh;
  width: 1.72vh;
  left: calc(50% - 0.86vh);
  top: calc(50% - 0.86vh);
}

#outer nav ul li label[for="ares"]::after {
  height: 1.5vh;
  width: 1.5vh;
  left: calc(50% - 0.75vh);
  top: calc(50% - 0.75vh);
}

#outer nav ul li label[for="dias"]::after {
  height: 4.06vh;
  width: 4.06vh;
  left: calc(50% - 2.03vh);
  top: calc(50% - 2.03vh);
}

#outer nav ul li label[for="kronos"]::after {
  height: 3vh;
  width: 3vh;
  left: calc(50% - 1.5vh);
  top: calc(50% - 1.5vh);
}

/*footer decoration*/

#outer footer ul::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1.00001vh;
  width: 1.00001vh;
  box-shadow: -2vh 1.3vh 0 0vh rgba(255, 255, 255, 0.2), 0 1.3vh 0 0vh rgba(255, 255, 255, 0.2), 2vh 1.3vh 0 0vh rgba(255, 255, 255, 0.2);
}

#outer footer ul li {
  position: relative;
}

#outer footer ul li label {
  border-radius: 100%;
  border: solid 0.3vh #fff;
  opacity: 0.1;
}

#outer footer ul li label::after {
  content: "";
  display: inline-block;
  position: absolute;
}

#outer footer ul li label[for="pause"]::after {
  background-color: #fff;
  width: 0.3vh;
  height: 100%;
  left: calc(50% - 0.15vh);
  top: 0%;
}

#outer footer ul li label[for="orbits"]::after {
  border-radius: 100%;
  background-color: #fff;
  width: 0.7vh;
  height: 0.7vh;
  left: calc(50% - 0.35vh);
  top: calc(50% - 0.35vh);
}

#outer footer ul li label[for="zoom"]::after {
  background-color: #fff;
  width: 100%;
  height: 0.3vh;
  left: 0%;
  top: calc(50% - 0.15vh);
}

/*navbar style transition*/

#outer nav label {
  transition: background-color 0.7s;
}

#outer nav label::after {
  transition: background-color 0.4s;
}

#helios:checked~nav label[for="helios"] {
  background-color: #fff;
}

#helios:checked~nav label[for="helios"]::after {
  background-color: #e7e157;
}

#ermis:checked~nav label[for="ermis"] {
  background-color: #fff;
}

#ermis:checked~nav label[for="ermis"]::after {
  background-color: #98723e;
}

#aphrodite:checked~nav label[for="aphrodite"] {
  background-color: #fff;
}

#aphrodite:checked~nav label[for="aphrodite"]::after {
  background-color: #daa32a;
}

#gaia:checked~nav label[for="gaia"] {
  background-color: #fff;
}

#gaia:checked~nav label[for="gaia"]::after {
  background-color: #858fcd;
}

#ares:checked~nav label[for="ares"] {
  background-color: #fff;
}

#ares:checked~nav label[for="ares"]::after {
  background-color: #f46800;
}

#dias:checked~nav label[for="dias"] {
  background-color: #fff;
}

#dias:checked~nav label[for="dias"]::after {
  background-color: #ffa266;
}

#kronos:checked~nav label[for="kronos"] {
  background-color: #fff;
}

#kronos:checked~nav label[for="kronos"]::after {
  background-color: #e7c23f;
}

/*footer style transition*/

#outer footer ul {
  transition: margin 0.5s ease-out;
  margin-top: 100%;
}

#outer footer ul::before {
  transition: margin 0.5s ease-out;
  margin-top: calc(-100% + 3vh);
  left: 50%;
  border-radius: 100%;
}

#outer footer:hover ul {
  margin-top: 0%;
}

#outer footer:hover ul::before {
  margin-top: 100%;
}

#outer footer label {
  transition: opacity 0.4s;
}

#pause:checked~footer label[for="pause"] {
  opacity: 0.8;
}

#orbits:checked~footer label[for="orbits"] {
  opacity: 0.8;
}

#zoom:checked~footer label[for="zoom"] {
  opacity: 0.8;
}

/*Main*/

/*planets init*/

#inner .orbit {
  z-index: -10;
  transition: height 2s, width 2s, top 2s, left 2s, transform 2s, box-shadow 0.5s ease-out;
}

#inner .planet, #inner .planet::after {
  transition: height 2s, width 2s, top 2s, left 2s, box-shadow 2s;
}

#inner .planet, #inner .orbit {
  border-radius: 100%;
}

.sun.orbit {
  -webkit-animation: spin 0s linear infinite;
  -moz-animation: spin 0s linear infinite;
  animation: spin 0s linear infinite;
  top: calc(50% - 0vmin);
  left: calc(50% - 0vmin);
  height: 0vmin;
  width: 0vmin;
}

.sun>.planet {
  height: 8.540000000000001vmin;
  width: 8.540000000000001vmin;
  background-color: #e7e157;
  left: -4.27vmin;
  top: -4.27vmin;
}

.mercury.orbit {
  -webkit-animation: spin 2.4s linear infinite;
  -moz-animation: spin 2.4s linear infinite;
  animation: spin 2.4s linear infinite;
  height: 14vmin;
  width: 14vmin;
  left: -2.73vmin;
  top: -2.73vmin;
}

.mercury>.planet {
  height: 1.288vmin;
  width: 1.288vmin;
  background-color: #98723e;
  left: 7.571537246vmin;
  top: 13.249654271vmin;
}

.venus.orbit {
  -webkit-animation: spin 6.1s linear infinite;
  -moz-animation: spin 6.1s linear infinite;
  animation: spin 6.1s linear infinite;
  height: 28vmin;
  width: 28vmin;
  left: -9.73vmin;
  top: -9.73vmin;
}

.venus>.planet {
  height: 1.82vmin;
  width: 1.82vmin;
  background-color: #daa32a;
  left: 8.301717998vmin;
  top: -0.065696694vmin;
}

.earth.orbit {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  height: 42vmin;
  width: 42vmin;
  left: -16.73vmin;
  top: -16.73vmin;
}

.earth>.planet {
  height: 2.408vmin;
  width: 2.408vmin;
  background-color: #858fcd;
  left: 19.796vmin;
  top: 40.796vmin;
}

.moon.orbit {
  -webkit-animation: spin 0.747433264887064s linear infinite;
  -moz-animation: spin 0.747433264887064s linear infinite;
  animation: spin 0.747433264887064s linear infinite;
  height: 7vmin;
  width: 7vmin;
  left: -2.296vmin;
  top: -2.296vmin;
}

.moon>.planet {
  height: 0.84vmin;
  width: 0.84vmin;
  background-color: #a39480;
  left: 0.830243365vmin;
  top: 0.3988444495vmin;
}

.mars.orbit {
  -webkit-animation: spin 18.799999999999997s linear infinite;
  -moz-animation: spin 18.799999999999997s linear infinite;
  animation: spin 18.799999999999997s linear infinite;
  height: 56vmin;
  width: 56vmin;
  left: -23.73vmin;
  top: -23.73vmin;
}

.mars>.planet {
  height: 2.1vmin;
  width: 2.1vmin;
  background-color: #f46800;
  left: 23.537658395999998vmin;
  top: 54.741292255999994vmin;
}

.jupiter.orbit {
  -webkit-animation: spin 118.6s linear infinite;
  -moz-animation: spin 118.6s linear infinite;
  animation: spin 118.6s linear infinite;
  height: 70vmin;
  width: 70vmin;
  left: -30.73vmin;
  top: -30.73vmin;
}

.jupiter>.planet {
  height: 5.684vmin;
  width: 5.684vmin;
  background-color: #ffa266;
  left: 58.969555505vmin;
  top: 54.65556635vmin;
}

.saturn.orbit {
  -webkit-animation: spin 294.6s linear infinite;
  -moz-animation: spin 294.6s linear infinite;
  animation: spin 294.6s linear infinite;
  height: 84vmin;
  width: 84vmin;
  left: -37.73vmin;
  top: -37.73vmin;
}

.saturn>.planet {
  height: 4.2vmin;
  width: 4.2vmin;
  background-color: #e7c23f;
  left: 22.150032995999997vmin;
  top: 77.964927054vmin;
}

/*Jupiter red spot*/

.jupiter>.planet::after {
  background-color: #c4554b;
  border-radius: 100%;
  content: "";
  width: 1.5vmin;
  height: 1.5vmin;
  left: 35%;
  top: 12%;
  position: absolute;
}

/*Saturn ring*/

.saturn>.planet::after {
  border-radius: 100%;
  box-shadow: -2vmin 0vmin 0 0vmin #987641, 2vmin 0vmin 0 #987641;
  content: "";
  height: 2vmin;
  left: -63%;
  transform: rotate(205deg);
  position: absolute;
  top: 24%;
  width: 9.21123vmin;
  z-index: -5;
}

/*navbar side-effects*/

/*zoom in*/

#inner {
  transition: transform 2s;
}

#helios:checked~#inner {
  transform: scale(1);
}

#ermis:checked~#inner {
  transform: scale(2);
}

#aphrodite:checked~#inner {
  transform: scale(1.926640926640927);
}

#gaia:checked~#inner {
  transform: scale(1.845559845559846);
}

#ares:checked~#inner {
  transform: scale(1.888030888030888);
}

#dias:checked~#inner {
  transform: scale(1.393822393822394);
}

#kronos:checked~#inner {
  transform: scale(1.598455598455598);
}

/*orbit toggle*/

.sun>.planet {
  box-shadow: 0 0 23vmin 2.5vmin #e7e157;
}

#helios:checked~#inner .sun.orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

#ermis:checked~#inner .mercury.orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

#aphrodite:checked~#inner .venus.orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

#gaia:checked~#inner .earth.orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

#ares:checked~#inner .mars.orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

#dias:checked~#inner .jupiter.orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

#kronos:checked~#inner .saturn.orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

/*changing center*/

#helios:checked~#inner .sun.orbit {
  -webkit-animation: spin 0s linear infinite;
  -moz-animation: spin 0s linear infinite;
  animation: spin 0s linear infinite;
  transform: rotate(0deg);
  top: calc(50% - 0vmin);
  left: calc(50% - 0vmin);
  height: 0vmin;
  width: 0vmin;
}

#helios:checked~#inner .sun>.planet {
  /*strange things happens if I just put it to 0 as it should be
        or even if I use scientific notation to this number*/
  -webkit-animation: spin 9999999999999999999999999999999s linear infinite;
  -moz-animation: spin 9999999999999999999999999999999s linear infinite;
  animation: spin 9999999999999999999999999999999s linear infinite;
  transform: rotate(0deg);
  left: -4.27vmin;
  top: -4.27vmin;
}

#ermis:checked~#inner .sun.orbit {
  -webkit-animation: spin 2.4s linear infinite;
  -moz-animation: spin 2.4s linear infinite;
  animation: spin 2.4s linear infinite;
  transform: rotate(720deg);
  top: calc(50% - 7vmin);
  left: calc(50% - 7vmin);
  height: 14vmin;
  width: 14vmin;
}

#ermis:checked~#inner .sun>.planet {
  -webkit-animation: spin 2.4s linear infinite;
  -moz-animation: spin 2.4s linear infinite;
  animation: spin 2.4s linear infinite;
  transform: rotate(720deg);
  left: 1.514462754vmin;
  top: -4.163654271vmin;
}

#aphrodite:checked~#inner .sun.orbit {
  -webkit-animation: spin 6.1s linear infinite;
  -moz-animation: spin 6.1s linear infinite;
  animation: spin 6.1s linear infinite;
  transform: rotate(720deg);
  top: calc(50% - 14vmin);
  left: calc(50% - 14vmin);
  height: 28vmin;
  width: 28vmin;
}

#aphrodite:checked~#inner .sun>.planet {
  -webkit-animation: spin 6.1s linear infinite;
  -moz-animation: spin 6.1s linear infinite;
  animation: spin 6.1s linear infinite;
  transform: rotate(720deg);
  left: 14.518282002vmin;
  top: 22.885696694vmin;
}

#gaia:checked~#inner .sun.orbit {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  transform: rotate(720deg);
  top: calc(50% - 21vmin);
  left: calc(50% - 21vmin);
  height: 42vmin;
  width: 42vmin;
}

#gaia:checked~#inner .sun>.planet {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  transform: rotate(720deg);
  left: 16.73vmin;
  top: -4.27vmin;
}

#ares:checked~#inner .sun.orbit {
  -webkit-animation: spin 18.799999999999997s linear infinite;
  -moz-animation: spin 18.799999999999997s linear infinite;
  animation: spin 18.799999999999997s linear infinite;
  transform: rotate(720deg);
  top: calc(50% - 28vmin);
  left: calc(50% - 28vmin);
  height: 56vmin;
  width: 56vmin;
  background-color: ;
}

#ares:checked~#inner .sun>.planet {
  -webkit-animation: spin 18.799999999999997s linear infinite;
  -moz-animation: spin 18.799999999999997s linear infinite;
  animation: spin 18.799999999999997s linear infinite;
  transform: rotate(720deg);
  left: 27.142341604000002vmin;
  top: -4.061292255999998vmin;
}

#dias:checked~#inner .sun.orbit {
  -webkit-animation: spin 118.6s linear infinite;
  -moz-animation: spin 118.6s linear infinite;
  animation: spin 118.6s linear infinite;
  transform: rotate(720deg);
  top: calc(50% - 35vmin);
  left: calc(50% - 35vmin);
  height: 70vmin;
  width: 70vmin;
}

#dias:checked~#inner .sun>.planet {
  -webkit-animation: spin 118.6s linear infinite;
  -moz-animation: spin 118.6s linear infinite;
  animation: spin 118.6s linear infinite;
  transform: rotate(720deg);
  left: 3.918444495000003vmin;
  top: 8.23243365vmin;
}

#kronos:checked~#inner .sun.orbit {
  -webkit-animation: spin 294.6s linear infinite;
  -moz-animation: spin 294.6s linear infinite;
  animation: spin 294.6s linear infinite;
  transform: rotate(720deg);
  top: calc(50% - 42vmin);
  left: calc(50% - 42vmin);
  height: 84vmin;
  width: 84vmin;
}

#kronos:checked~#inner .sun>.planet {
  -webkit-animation: spin 294.6s linear infinite;
  -moz-animation: spin 294.6s linear infinite;
  animation: spin 294.6s linear infinite;
  transform: rotate(720deg);
  left: 55.479967004vmin;
  top: -0.334927054000005vmin;
}

/*footer side-effects*/

/*pause*/

#pause:checked~#inner * {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

/*show orbits*/

/*this bit is to make the orbit opacity transition suck less*/

#inner .orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 0);
}

#orbits:checked~#inner .orbit {
  box-shadow: 0 0 0 0.3vmin rgba(255, 255, 255, 1);
}

/*zoom out*/

#zoom:checked~#inner {
  transform: scale(1) !important;
}

/*animation def*/

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Message*/

#inner * {
  animation-delay: 8s !important;
}

#messages {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fade-out 4s 8s linear 1 forwards;
  visibility: visible;
}

#messages .message {
  margin-top: 33vh;
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 13vmin;
}

#messages .message:first-child {
  opacity: 1;
  animation: fade-out 4s 1s linear 1 forwards;
}

#messages .message:last-child {
  opacity: 0;
  animation: fade-in 4s 5s linear 1 forwards;
}

@-moz-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-o-keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}